<<<<<<< HEAD
<div>
  <%= form_for @example |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.text_field :email, :email_confirmation, placeholder: "email again" %>
  <%= f.submit class:'submit'%>
  <% end %>
</div>
=======
>>>>>>> f397b2dd356e753909d879c3c611affd55dfc2f9
