<div>
  <%= form_for @example |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.text_field :email, :email_confirmation, placeholder: "email again" %>
  <%= f.submit class:'submit'%>
  <% end %>
</div>