<%= form_for @example do |f| %>
<%= text_field :example, :name, placeholder: "Name" %>
<%= text_field :example, :email, placeholder: "email" %>

<%= f.submit %>
<% end %>

<h1>Validation</h1><hr>
<div>
  <%= form_for @example do |f| %>
    <p><%= f.text_field :name, placeholder: "Name" %></p>
    <p><%= f.text_field :email, placeholder: "email" %></p>
    <p><%= text_field :email_confirmation, placeholder: "confirm email" %></p>
    <%= f.submit class:"submit"%>
  <% end %>
</div>

